@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-lime-900 font-semibold underline;
  }

  a[href^="http"]:after {
    content: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221em%22%20height%3D%221em%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22m13%203l3.293%203.293l-7%207l1.414%201.414l7-7L21%2011V3z%22%2F%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M19%2019H5V5h7l-2-2H5c-1.103%200-2%20.897-2%202v14c0%201.103.897%202%202%202h14c1.103%200%202-.897%202-2v-5l-2-2z%22%2F%3E%3C%2Fsvg%3E');
    margin-left: 0.5rem;
  }

  a.no-icon:after {
    content: ''
  }

  a:hover {
    @apply text-lime-500 underline;
  }

  body {
    position: relative;
  }

  [data-theme="light"] body::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url("/rainforest.jpg") top;
    filter: grayscale(40%) brightness(100%);
  }

  [data-theme="dark"] body::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url("/rainforest.jpg") top;
    filter: grayscale(70%) brightness(25%) sepia(40) hue-rotate(180deg);
  }

  .handwritten {
    font-family: 'Get Show' !important;
  }

  .dyslexic {
    font-family: OpenDyslexic3;

    & h1 {
      @apply vr-tight-7xl text-7xl;
    }
    
    & h2 {
      @apply vr-tight-5xl text-5xl;
    }

    & .card-body h2 {
      @apply vr-tight-2xl text-2xl;
    }

    & h3 {
      @apply vr-tight-2xl text-2xl;
    }

    & h4 {
      @apply text-sm;
    }

    & h5 {
      @apply text-sm;
    }
  }

  h1 {
    @apply vr-tight-2xl text-2xl;
  }

  h2 {
    @apply text-neutral vr-tight-7xl text-7xl;
  }

  h3 {
    @apply vr-tight-5xl text-5xl;
  }

  h4 {
    @apply vr-tight-3xl text-3xl;
  }

  h5 {
    @apply vr-tight-xl text-xl;
  }

  hr {
    display: block;
    width: 80%;
    margin: 1rem auto;
    border: 0;
    height: 1px;
    @apply bg-gradient-to-r from-transparent to-current;
}

  p {
    position: relative;
    @apply vr-tight-base text-base;
  }

  q {
    @apply italic
  }

  .article, article {

    h1, h2, h3, h4, h5 {
      font-weight: 100 !important;
      text-decoration: none !important;
      @apply text-primary py-1 w-full;
      & a {
        @apply no-underline font-light;
      }
    }

    & h2:first-of-type {
      font-variant: small-caps !important;
      text-align: center;
      border: 2px solid;
      @apply text-4xl border-primary m-2;
    }
    
    & p {
      text-align: justify;
      @apply vr-tight-base text-base;
    }

    & ul, & ol {
      list-style-position: inside;
      width: calc(100% - 1rem);
      left: 1rem;
      @apply relative block py-1;
    }
    & ol {
      list-style: decimal;
    }
    & li {
      @apply vr-tight-base text-base;
    }
    & ul li::before {
      content: '- ';
      font-weight: 900;
      position: absolute;
      left: -1rem;
    }
    & li:first-of-type {
      padding-top: 0 !important;
    }
    & dl {
      margin: 1rem 0;
      @apply vr-tight-base text-base;
      dt {
        text-decoration: underline;
        @apply font-semibold;
        &:after {
          content: ':'
        }
      }
      dd {
        margin:0 0 1rem 1rem;
        position: relative;
        &:before {
          content: '🢂 ';
          left: -1rem;
          @apply absolute text-primary;
        }
      }
    }
    blockquote {
      width: 100%;
      padding: 0.5rem 1rem;
      border: 1px dotted;
      margin: 1rem auto;
      @apply rounded bg-base-100 shadow-lg relative;
      &>p {
        @apply italic;
      }
      &>cite {
        @apply block font-semibold vr-tight-base w-full text-base text-right z-10 relative;
        &:before {
          content: '— '
        }
      }
      &:before,
      &:after {
        width: 1rem;
        height: 1rem;
        @apply text-base-200 absolute text-9xl;
      }
      &:before {
        content: '“';
        left:0;
        top:-1.0rem;
      }
      &:after {
        content: '”';
        right: 1.7rem;
        bottom:2.5rem;
      }
    }
  }

  .dyslexic {
    .article, article {
      blockquote {
        &:before,
        &:after {
          @apply text-6xl;
        }
        &:after {
          right: 1rem;
          bottom:1.5rem;
        }
      }
    }
  }

  .back-to-top {
    position: fixed;
    bottom:1rem;
    right:0.5rem;
    @apply btn btn-primary btn-circle shadow-lg shadow-stone-950 ;
  }

  .icon {
    width:1em;
    height: 1em;
    display: block;
  }

  .main-title {
    font-family: 'Get Show';
    background-color: transparent !important;
    @apply text-6xl text-red-900;
  }
  
  [data-theme="dark"] .main-title {
    font-family: 'Get Show';
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #f00,
    0 0 82px #f00,
    0 0 100px rgba(255,0, 0, .1);
    @apply text-6xl text-white;
  }

  .menu {
    z-index: 10;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media print{
  a[href^="http"]:after{
    content:"à l'url: \"" attr(href) "\"";
  }
}