@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    tab-size: 2;
  }

  a {
    @apply text-lime-900 font-semibold underline;
  }

  [data-theme="light"] a[href^="http"]:after {
    content: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221em%22%20height%3D%221em%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23365314%22%20d%3D%22m13%203l3.293%203.293l-7%207l1.414%201.414l7-7L21%2011V3z%22%2F%3E%3Cpath%20fill%3D%22%23365314%22%20d%3D%22M19%2019H5V5h7l-2-2H5c-1.103%200-2%20.897-2%202v14c0%201.103.897%202%202%202h14c1.103%200%202-.897%202-2v-5l-2-2z%22%2F%3E%3C%2Fsvg%3E');
  }

  [data-theme="light"] a[href^="http"]:hover:after {
    content: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221em%22%20height%3D%221em%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%2384CC16%22%20d%3D%22m13%203l3.293%203.293l-7%207l1.414%201.414l7-7L21%2011V3z%22%2F%3E%3Cpath%20fill%3D%22%2384CC16%22%20d%3D%22M19%2019H5V5h7l-2-2H5c-1.103%200-2%20.897-2%202v14c0%201.103.897%202%202%202h14c1.103%200%202-.897%202-2v-5l-2-2z%22%2F%3E%3C%2Fsvg%3E');
  }

  [data-theme="dark"] a[href^="http"]:after {
    content: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221em%22%20height%3D%221em%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23365314%22%20d%3D%22m13%203l3.293%203.293l-7%207l1.414%201.414l7-7L21%2011V3z%22%2F%3E%3Cpath%20fill%3D%22%23365314%22%20d%3D%22M19%2019H5V5h7l-2-2H5c-1.103%200-2%20.897-2%202v14c0%201.103.897%202%202%202h14c1.103%200%202-.897%202-2v-5l-2-2z%22%2F%3E%3C%2Fsvg%3E');
  }
  [data-theme="dark"] a[href^="http"]:hover:after {
    content: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221em%22%20height%3D%221em%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%2384CC16%22%20d%3D%22m13%203l3.293%203.293l-7%207l1.414%201.414l7-7L21%2011V3z%22%2F%3E%3Cpath%20fill%3D%22%2384CC16%22%20d%3D%22M19%2019H5V5h7l-2-2H5c-1.103%200-2%20.897-2%202v14c0%201.103.897%202%202%202h14c1.103%200%202-.897%202-2v-5l-2-2z%22%2F%3E%3C%2Fsvg%3E');
  }

  a.no-icon:after {
    content: ''
  }

  a:hover {
    @apply text-lime-500 underline;
  }

  body {
    position: relative;
  }

  [data-theme="light"] body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/rainforest.jpg") top;
    filter: grayscale(40%) brightness(100%);
  }

  [data-theme="dark"] body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/rainforest.jpg") top;
    filter: grayscale(70%) brightness(25%) sepia(40) hue-rotate(180deg);
  }

  .handwritten {
    font-family: 'Get Show' !important;
  }

  .dyslexic {
    font-family: OpenDyslexic3;
  }

  hr {
    display: block;
    width: 100%;
    margin: 1rem auto;
    border: 0;
    height: 1px;
    @apply bg-gradient-to-r from-transparent to-current;
}

  p {
    position: relative;
    @apply vr-tight-base;
  }

  q {
    @apply italic
  }

  .article, article {
    /* @apply prose; */

    h1, h2, h3, h4, h5 {
      @apply text-primary w-full;
      & a {
        @apply no-underline font-light text-primary text-5xl vr-tight-5xl;
      }
    }

    &>h2:first-of-type {
      font-variant: small-caps;
      text-align: center;
      width: calc(100% - 1rem);
      margin: 1rem auto !important;
      @apply vr-relaxed-3xl text-3xl border-primary font-light bg-base-100 mx-auto rounded-2xl text-primary;
      &>a {
        @apply text-primary;
      }
    }
    
    & p {
      text-align: justify;
    }

    & ul, & ol {
      list-style-position: inside;
      width: calc(100% - 1rem);
      @apply relative block;
      li {
        @apply text-base vr-tight-base my-2;
        &::marker {
          content: '– ';
          @apply text-primary font-bold;
        }
      }
    }
    & ol {
      list-style: decimal;
    }
    & dl {
      @apply mb-4;
      dt {
        text-decoration: underline;
        @apply mt-4 text-base vr-tight-base;
        &:after {
          content: ':'
        }
      }
      dd {
        position: relative;
        left:1rem;
        @apply text-base vr-tight-base;
        &:before {
          content: '🢂 ';
          left:-1rem;
          @apply absolute text-primary;
        }
      }
    }
    blockquote {
      width: 100%;
      padding: 0.5rem 1rem;
      border: 1px dotted;
      @apply rounded bg-base-100 shadow-lg relative;
      &>p {
        @apply italic;
      }
      &>cite {
        @apply block font-semibold vr-tight-base w-full text-base text-right z-10 relative;
        &:before {
          content: '— '
        }
      }
      &:before,
      &:after {
        width: 1rem;
        height: 1rem;
        @apply text-base-200 absolute text-9xl;
      }
      &:before {
        content: '“';
        left:0;
        top:-1.0rem;
      }
      &:after {
        content: '”';
        right: 1.7rem;
        bottom:2.5rem;
      }
    }
  }

  .dyslexic {
    .article, article {
      blockquote {
        &:before,
        &:after {
          @apply text-6xl;
        }
        &:after {
          right: 1rem;
          bottom:1.5rem;
        }
      }
    }
  }

  .back-to-top {
    position: fixed;
    bottom:1rem;
    right:0.5rem;
    @apply btn btn-primary btn-circle shadow-lg shadow-stone-950 ;
  }

  .icon {
    width:1em;
    height: 1em;
    display: block;
  }

  .main-title {
    font-family: 'Get Show';
    background-color: transparent !important;
    @apply text-6xl text-red-900;
  }
  
  [data-theme="dark"] .main-title {
    font-family: 'Get Show';
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #f00,
    0 0 82px #f00,
    0 0 100px rgba(255,0, 0, .1);
    @apply text-6xl text-white;
  }

  .menu {
    z-index: 10;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media print{

  * {
    background: none !important;
  }

  a[href^="http"] {
    @apply text-current no-underline font-normal;
    &:after{
      content:" à l'url: \"" attr(href) "\"" !important;
    }
  }
  body{
    &::before {
      background: none !important;
    }
    &::after {
      content: "Tout droits réservés: The Dendrobate Doctor — Pauline Delahaye";
      display: block;
      text-align: center;
      font-weight: bolder;
      font-size: 1rem;
    }
  }

  .article, article {
    display: block;
    column-fill: balance-all !important;
    column-count: 1;
    background: none !important;
    text-justify: newspaper;
    text-align: start;

    #-title- {
      column-count: 2;
    }

    h1, h2, h3, h4, h5 {
      @apply mt-6;
      & a {
        @apply text-xl vr-tight-xl font-thin;
      }
    }
    p {
      @apply text-sm vr-tight-sm;
    }

    & ul, & ol {
      li {
        @apply text-sm vr-tight-sm;
      }
    }

    & dl {
      dt {
        @apply text-sm vr-tight-sm;
      }
      dd {
        @apply text-sm vr-tight-sm;
      }
    }
  }

  .back-to-top {
    display:none;
  }

  .bg-base-100, .bg-base-200 {
    background: none !important;
  }

  .footer {
    background: none !important;
  }

  .no-print {
    display: none !important;
  }
}